@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@font-face {
    font-family: "DMSerif";
    src: url(./assets/fonts/DMSerifDisplay-Regular.ttf);
}
body {
    font-family: "DMserif", Verdana;
    background: url(./assets/img/images.jpeg) center/cover;
    min-height: 100vh;
}

h1 {
    text-transform: uppercase;
    text-spacing: 3px;
    text-align: center;
    /*Les tailles de polices doivent etre en REM */
    font-size: 2.5rem;
    text-shadow: 3px 3px 8px #00000042;
    color: #ab0ef4;
    font-family: 'Oswald', sans-serif;
}

main{
   min-height: 500px;
    width: 90%;
    background: rgba(243, 240, 240, 0.685);
    /*centrer une boite*/
    margin: 0 auto;
    border: 2px solid rgb(59, 59, 235);
    border-radius: 20px 20px 0 0;
    box-shadow: 0 0 0 black;
    padding: 15px;
}

h2{
    margin: 0;
}

.flexbox {
    border: 2px solid skyblue;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
}
    /*FLEXBOX sert a repartir équitablement des éléments sur la page*/
    .flexbox ul{
        padding: 0;
        display: flex;
        justify-content: space-around;
    }

    .flexbox li {
        list-style: none;
        height: 160px;
        width: 160px;
        margin: 10px;
        background: turquoise;
         /* Centrer un unique élément verticalement et horizontalement*/
         display: flex;
         justify-content: space-around;
         align-items: center;
    }
    /*GRID*/
    .grid-container{
        display: grid;
        grid-template-columns: 30% 70%;
    }
    .grid img{
        width: 80%;
        margin-top: 20px;
    }

    form{
        display: grid;
    }


   


